<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>**user_id**のページ</title>
</head>

<body>
     <h1>**user_id**s</h1>
    <ul>
      <li>
        <dl>
          <dt>ユーザ名</dt>
          <dd id="user_name">**user_name**</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>メールアドレス</dt>
          <dd id="email">**email**</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>どんなエンジニアになりたいか</dt>
          <dd id="myjobs">**myjobs**</dd>
        </dl>
      </li>
    </ul>
</body>

</html>